[user]
	name = ning
	email = ningyuan.sg@gmail.com
[alias]
	logp = log --pretty=\"%Cred%h @ %cD - %Cgreen%cn%Creset : %s\"
	lf = ls-files
	cv = commit -v
    nuke = reset --hard
[core]
	excludesfile = ~/.gitignore
	editor = "vim"
