[user]
    name = ning
    email = ningyuan.sg@gmail.com
[alias]
    alias = config --get-regexp alias
    amend = commit --amend
    amend-ne = commit --amend --no-edit
    cv = commit -v
    graph = log --graph --oneline --decorate
    l = log --oneline --stat
    ls = ls-files
    nuke = reset --hard
    s = status -bs
[core]
    editor = "vim"
[diff]
	tool = vimdiff
[difftool]
	prompt = false
