[user]
    name = ning
    email = ningyuan.sg@gmail.com
[alias]
    # Commonly used
    s = status -bs
    lf = ls-files
    cv = commit -v
    # Logs & Misc
    l = log --oneline --stat
    graph = log --graph --oneline --decorate
    # Utilities
    nuke = reset --hard
    assume-unchanged = update-index --assume-unchanged
[core]
    editor = "vim"
[diff]
	tool = vimdiff
[difftool]
	prompt = false
